extend base.pug
include mixins/video

block content
  form(method="GET")
    input(placeholder="Search by title",name="keyword", autocomplete="off",  type="text")
    input(type="submit", value="Search Now")

    each video in videos
      +video(video)