extends base.pug

block content 
  h3 upload
    form(method="POST", action="/videos/upload ")
      input(name="Title" placeholder="Title1", required, type="text")
      input(name="Description" placeholder="Description", required, type="text")
      input(name="Hashtags" placeholder="Hashtags, separated by comma", required, type="text")
      input(type="submit")