extends base.pug

block content 
  if errorMessage
    span=errorMessage
  h3 upload
    form(method="POST")
      input(name="title" placeholder="Title1", required, type="text", autocomplete="off", maxLength=80)
      input(name="description" placeholder="Description", required, type="text", autocomplete="off", minLength=10)
      input(name="hashtags" placeholder="Hashtags, separated by comma", required, type="text", autocomplete="off")
      input(type="submit")